.bold {
  font-weight: bold; }

.non-bold {
  font-weight: normal; }

.muted {
  pointer-events: none;
  color: #cccccc; }

.clickable {
  cursor: pointer; }

.type-20 {
  font-size: 20px; }

.type-13 {
  font-size: 13px; }

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.grid-column-1-2 {
  width: 50%; }

.grid-column-1-3 {
  width: 33.33333%; }

.grid-column-1-5 {
  width: 20%; }

@media only screen and (max-width: 599px) {
  .grid-column-mobile-1-1 {
    width: 100%; } }

.grid-column-fill {
  flex-grow: 1; }

.x-padding-right-ten {
  padding-right: 10px; }

.y-gutter-all-ten {
  margin-top: 5px;
  margin-bottom: 5px; }

.y-padding-all-ten {
  padding-top: 5px;
  padding-bottom: 5px; }

.y-padding-top-twenty {
  padding-top: 20px; }

.y-gutter-all-twenty {
  margin-top: 20px;
  margin-bottom: 20px; }

.red {
  color: #c91300; }

.darkerGray {
  color: #999999; }

.darkestGray {
  color: #666666; }

.hidden {
  display: none; }
