.button {
  background-color: white;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0; }
  .button-flat .button-container {
    background-color: #f6f5f5; }
  .button-primary .button-container {
    background-image: linear-gradient(to top, #cc0000, #dd5353);
    border: 1px solid #cc0000;
    color: white; }
    .button-primary .button-container:hover {
      background-image: linear-gradient(to top, #cc0000, #cc0000); }
  .button-secondary .button-container {
    background-image: linear-gradient(to top, black, #525252);
    border: 1px solid black;
    color: white; }
    .button-secondary .button-container:hover {
      background-image: linear-gradient(to top, black, black); }

.button-container {
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 0; }
  .button-container.button-large {
    font-size: 18px; }
