@import '../../styles/Mixins';

.overall-rating {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  .rating {
    align-items: flex-end;
    display: flex;
  }

  .view-all {
    cursor: pointer;
  }
}

.sample-rating {
  background: #f6f5f5;
  padding: 10px;
  text-align: left;

  th {
    border-bottom: 1px solid $darkerGray;
    padding-bottom: 10px;
    width: 50%;
  }

  td {
    padding: 10px 30px 0 0;
    vertical-align: top;
  }
}
