@import url(styles/Helper.css);
.my-retail-main {
  margin: 75px auto;
  padding: 30px;
  max-width: 1067px; }

.product-title {
  text-align: center;
  font-size: 26px;
  margin: 10px auto;
  max-width: 400px; }

.product-highlights-title {
  font-size: 28px; }

.promotion-section {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }

.price {
  font-size: 24px;
  display: inline-block; }

.qualifier {
  font-size: 13px;
  display: inline-block; }
